
/*------------------- HEADER -------------------*/
html {
	background-color: navajowhite;
}

body {
	font-family: 'Roboto';
}

.wrapper {
	background-color: $color-greyLight;
	max-width: 1400px;
	// width: 1400px;
	margin: 0 auto;	
}

.pageHeader {
	height: 115px;
	background-color: $color-white;
	margin-bottom: 20px;

	.container {
		margin:0 8.2143% 0;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
	}
}

.logo{
	padding-top: 29px;
	font-family: 'Kaushan Script';
	font-size: 3em;
	color: $color-cyan;
}

.menu ul {
	list-style: none;
	height: 100%;
	display: flex;

	li {
		margin-right: 45px;
		padding: 46px 0 45px;
		
		&:last-of-type{
			margin-right: 0;
		}
		
		&:hover{
			border-bottom: 3px solid $color-cyan;
		}
	}

	a {
		font-family: 'Roboto';
		font-size: 1.125em;
		font-weight: normal;
		color: #343434;
		text-decoration: none;
		white-space: nowrap;
	}
}

/*------------------- MAIN -------------------*/

/* section dreamVacation */
.dreamVacation_1, .dreamVacation_2 {
	background: url(../images/hero_bg.jpeg) 50% 50% no-repeat;
	height: 685px;
	margin-bottom:20px;
	
	.container {
		margin:0 8.2143% 0;
		padding-top: 1px;
	}

	h1 {
		font-weight: bold;
		font-size: 3em;
		color: $color-white;
		margin:220px 0 33px;
		text-align: center;
	}

	h1+p {
		color: $color-white;
		text-align: center;
		margin-bottom: 78px;	
	}	
}

.input {
	display:block;
	height: 50px;
    padding: 0 30px 0;
	font-family: 'Roboto';
	font-size: 1em;
    background-color: $color-white;

	border: 2px solid #f5f5f5;
	border-radius: 5px;
	color: $color-greyLight;
    outline: none;

    &::-webkit-input-placeholder{
    	color: $color-greyLight;
    }

    &::-moz-placeholder{
    	color: $color-greyLight;
    }

    &:-ms-input-placeholder{
    	color: $color-greyLight;
    }

    &::-ms-input-placeholder{
    	color: $color-greyLight;
    }

    &::placeholder{
    	color: $color-greyLight;
    }
}

.input[type="button"] {
	background-color: $color-cyan;
	color:$color-white;
	border:none;
	&:hover {
		cursor: pointer;
	}
}

.dreamVacation_1 .findLocation, .dreamVacation_2 .findLocation {
	height:50px;
	margin: 0 -14px 0;
	width:102.3932%;

	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;

	.box-input:nth-of-type(1) {
		flex: 4;
	}

	.box-input:nth-of-type(2) {
		flex: 3;
	}

	.box-input:nth-of-type(3) {
		flex: 3;
	}

	.box-input:nth-of-type(4) {
		flex: 2;
	}

	.input {
		margin: 0 14px 0;
		width: calc(100% - 28px);
	}
}

.dreamVacation_2 {
	h1 {
		margin: 184px 65.8974% 34px 0;
		text-align:left;
	}

	h1+p {
		margin: 0 65.8974% 77px 0;
		text-align:left;
	}
}
 
/* section Santorini */
.Santorini {
	height:615px;
	margin-bottom:20px;
	padding-top: 1px;
	background-color: $color-white;
}

.MagicalSantorini {
	width: 50%;
	height: 100%;
	padding: 0 12.5% 0 8.2143%;
	float: left;
	text-align: left;

	h1 {
		font-size: 3em;
		font-weight: bold;
		color: $color-grey;
		margin: 145px 0 31px;
	}

	h1+p {
		font-size: 1em;;
		color: $color-grey;
		margin-bottom: 48px;
	}
}

.MagicalSantorini .box-input {
	padding-right: 53.33%;
	.input{
		width:100%;
	}
}

.Santorini .slider {
	width: 50%;
	height:100%;
	float:left;
	overflow: hidden;

	.slider_box {
		width: 903px;
		margin-top: 50px;
	}
	.slick-slide {
		width: 273px;
		margin: 0 14px 0 14px;
		border-radius:5px;
	}
	.slick-dots {
		text-align:left;
		margin: 0;
		padding: 0;
	}
}

/* section galery City */
.galleryCity {
	height: 658px;
	margin-bottom: 20px;
	padding-top: 1px;
	background-color: $color-white;

	.container {
	margin:85px 8.2143% 0;
	}

	.galleryBox {
		margin: 0 -1.1982% 0;

		&:after{
			content: " ";
			display: table;
			clear: both;
		}
	}

	.column {
		float:left;
		width:calc(33.33% - 28px);
		margin: 0 1.16861% 0;

		figure {
			margin-bottom: 24px;
			
			img{
				max-width:100%;
			}
		}

		h2{
			font-family: 'Roboto';
			font-size: 1.875em;
			color: $color-greyDark;
			font-weight: normal;
			margin-bottom: 16px;
		}

		p {
			font-size: 1em;
			color: $color-grey;
			margin-bottom: 35px;
		}

		.ratings {
			display:flex;

			.fas{
				color: #fa9d4c;
			}

			span:last-of-type {
					margin-left: auto;
					color:$color-grey;
			}	
		}
	}
}

/* section active leisure */
.activeLeisure {
	height: 432px;
	padding-top:1px;
	margin-bottom: 20px;
	background-color: $color-white;

	.container {
		height:260px;
		width: 85.5714%;
		margin: 76px auto 0;
	}

	.carousel {
		color: red;
		margin: 0 14px;
		}

	.slide {
		position:relative;
		margin: 0 14px;
		font-size:0.875em;
		color: $color-white;

		.visits{
			position: absolute;
			top:0;
			right:0;
			padding: 20px; 
			text-align: right;
			color: #fa9d4c;

			span:last-of-type{
				display: block;
				margin-top:5px;
				color: $color-white;
			}
		}

		p {
			position: absolute;
			bottom: 70px;
			padding-left:22px
		}

		h2{
			position: absolute;
			bottom: 15px;
			padding-left:22px;
			font-size: 2.25em;
		}

		figure img{
			max-width: 100%;
		}
	}
}